<nav class="navbar is-white ">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
            <img src="https://s2.coinmarketcap.com/static/cloud/img/coinmarketcap_1.svg?_=6df0c79" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
        </span>
      </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
            </div>
        </div>
    </div>
</nav>